{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <title>Speisekammer</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div id="top">
        <div id="btns">
            <button id="ne" class="btn">Neues Element</button>
            <button id="ee" class="btn" onclick="shoppingList()">Einkaufsliste erstellen</button>
            <button id="transfer" class="btn" onclick="sub()">Neuen Verbrauch eintragen</button>
        </div>
    </div><br>
    <div id="table-header-container"><br>
        {% for row in all_items %}
        {% if row.name != 'Name' %}
        <div class="table-header"> <div class="table-cell">{{row.name}}</div> <div class="table-cell">{{row.shelf}}</div> <div class="table-cell">{{row.quantity}}</div> <div class="table-cell">{{row.required}}</div> <div class="table-cell">{{row.consum}}</div> <div class="table-cell">{{row.until}}</div> <div class="table-cell">{{row.category}}</div></div><br>
        {% endif %}
        {% endfor %}
      </div>
    </div>
    <div id="shopping_list" class="hidden">
        <h1>Einkaufszettel</h1><button id="print" onclick="print()">Drucken</button>
    </div>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>